<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
    <input id="msg"><button id="btnSend" onClick="doSend">send</button>
  </body>
  <script>
   var ws = new WebSocket('ws://127.0.0.1:3000/echo');
   ws.onopen = function() {
     console.info('ws open');
   };
   /*
   var ws = new WebSocket('ws://127.0.0.1:3000/echo');
   ws.onclose = function() {
     console.info('ws close');
   };
   var ws = new WebSocket('ws://127.0.0.1:3000/echo');
   ws.onmessage = function(evt) {
     console.info('ws onmessage' + evt.data);
   };
   */
   function doSend(){
     console.info('dosend');
     var data = document.querySelector('#msg').value;
     ws.send(data);
    }
  </script>
</html>
